<% include ../partials/header %>

<div class="jumbotron">
    <h1 class="display-3">140390Quiz1</h1>
    <p class="lead">Express-EJS</p>
    <hr class="my-2">
    <p>Chootigarn Tanapibalwongsa 5930213045 SE</p>
    <p class="lead">
    <a class="btn btn-primary btn-lg" href="about" role="button">View</a>
    </p>
</div>

<% include ../partials/footer %>